<div class="container">
    <h1>{{contacts[i]}}</h1>
    <div id="div">
    <p>{{adress[i]}}</p>
    <p>+38 067 6725905-{{olya[i]}};</p>
    <p> +38 097 5978605-{{denys[i]}};</p>
    <p>email: 249478@gmail.com</p>
    
    <p>{{way[i]}}</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d2622.3130316717993!2d23.470834!3d48.909428!3m2!1i1024!2i768!4f13.1!5e0!3m2!1suk!2sus!4v1542057005730" width="1100" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div> 