.container{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    color: #5c5858;
}
.img{
    width:400px;
    border: 2px solid black;
    float: right;
    margin-left: 20px;
}
.img1{
    width:400px;
    border: 2px solid black;
    float: left;
    margin-right: 20px;
}
p{
    color: dimgrey;
}